body {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.thumbnails img {
  width: 100%;
  height: 250px;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnails img:hover {
  border-color: #007BFF;
}

.thumbnails img.selected {
  border-color: #007BFF !important; 
}

.preview {
  position: relative;
  display: none;
}

.preview img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 5px;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-size: 30px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}