*{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.hamburger {
    display: none;
    font-size: 24px;
    color: gray;
    margin: auto 0;
    cursor: pointer;
}


header{
    position: absolute;
    top: 0;
    width: 100%;
}

header ul{
    list-style-type: none;
    display: flex;
    margin: 15px 0;
    flex-wrap: wrap;
}
.top-header .container{
    display: flex;
}

.top-header .nav {
    background-color: rgba(255, 255, 255, 0.2);
}

.top-row {
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.top-row img{
    margin-top: 10px;
    width: 100%;
    height: 40%;
}
.top-row > ul{
    margin-left: 100px;
}

/* dropdown menu */
.main-menu > li{
  position: relative;
  display: inline-block;
  
}
.main-menu > li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px 10px;
}
.main-menu .sub-menu{
    list-style-type: none;
    position: absolute;
    width: 150px;
    left: 0;
    top: 21.03px;
    display: none;
}
.sub-menu > li a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px;
}
.main-menu > li:hover .sub-menu{
    display: block;
    background-color: white;
}
.main-menu > li a:hover{
    background-color: green;
    color: white;
}

.background{
    width: 100%;
    height: 100%;
}
.left-button{
    color: white;
    border: 2px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px; 
    vertical-align: middle;
    position: absolute;
    left: 20px;
    top: 200px;
    z-index: 99;
    cursor: pointer;
}
.right-button{
    color: white;
    border: 2px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px; 
    vertical-align: middle;
    position: absolute;
    right: 20px;
    top: 200px;
    z-index: 99;
    cursor: pointer;
}

/* intro */
.intro{
    margin-top: 100px;
}
.intro .img1{
    margin-top: 80px;
    width: 100%;
}
.intro .img2{
    width: 100%;
    margin-bottom: 80px;
}
.intro .col-6{
    margin-top: auto;
    margin-bottom: auto;
}
.intro .row h1{
    color: green;
}

/* service-Golf */
.service-Golf {
    background-image: url(./images/background-service.jpg);
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;

}

.service-Golf .blur{
    background-color: rgba(255, 255, 255, 0.7);
}

.service-Golf h6{
    color: green;
    padding: 10px;
}
.service-Golf hr{
    border: 3px solid green;
    width: 10%;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}
 .service-Golf .col{
    padding-top: 50px;
 }

 .service-Golf .card-h-100 {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
 }


 /* service-other */
 .service-other{
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
 }
.service-other h6{
    color: green;
    padding: 10px;
}
.service-other hr{
    border: 3px solid green;
    opacity: 1;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
.service-other img{
    width: 20%;
    margin: 50px auto 0;
}
.service-other h5{
    padding-bottom: 50px;
}
.service-other .col{
    padding-top: 50px;
 }

.service-other .card-h-100{
    width: 100%;
    height: 100%;
    padding: 0 10px 50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
 }


 /* form */
.form{
    width: 100%;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    position: relative;
 }
.form .background{
    display: block;
    width: 100%;
    height: 600px;
 }
 .form > .cover{
    width: 100%;
    height: 600px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
 }
.form .container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
 }
 .form .card{
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 .form .card img{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
 }
 .form .card h1{
    color: white;
 }
 .form .card p{
    padding-top: 20px;
    color: white;
 }
 .form .form-submit{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 30px 50px;
    border-radius: 10px;
 }
 .form input{
    background-color: rgb(232, 232, 232);
    border-radius: 25px;
 }
 .form textarea{
    background-color: rgb(232, 232, 232);
    border-radius: 15px;
 }
 .form button{
    width: 100%;
 }


.news{
    margin-top: 200px;
    margin-bottom: 100px;
 }
.news h6{
    color: green;
}
.news .col-md-8 > hr{
    border: 3px solid green;
    width: 10%;
    opacity: 1;
}
.news .card{
    width: 100%;
}
.news .col-md-4 img{
    height: 100%;
}
.news .col-md-4 hr{
    border: 2px solid gray;
    width: 20%;
}
.news .col-md-6 .card-text1{
    color: gray;
}

.news button {
    border: 3px solid green;
    border-radius: 0 !important;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.footer-box {
    min-width: 200px;
    max-width: 33%;
    box-sizing: border-box;
}

.footer-box img {
    width: 400px;
    margin-bottom: 30px;
}

.footer-box h4 {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}


.footer-box ul li i {
  color: limegreen;
  margin-right: 10px;
}

.footer-box hr {
    border: 2px solid gray;
    width: 15%;
}

.footer-box ul hr {
    border: 1px solid gray;
    width: 100%;
}

.footer-bottom {
    border-top: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    font-size: 14px;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
}

.social-icons i {
  color: white;
  margin-left: 10px;
  font-size: 16px;
}

.logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.goTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}


 @media (max-width: 768px){
    .top-header .top-row > ul{
        display: none;
    }
    .top-header .container{
        background-color: white;
    }
    .top-header .top-row img{
        width: 50%;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .intro .img1{
        padding: 15px;
    }
    .intro .img2{
        padding: 15px;
    }
    .hamburger {
        display: block;
    }
 }